#history{
	background: url(../images/history.jpg) no-repeat;
	background-size: cover;
	display: block;
	height: 100%;
	width: 100%;

	@media #{$mobile_big}{
		height: auto;
	}
	#cont-history{
		display: block;
		height: calc(100% - 200px);
		left: calc(50% - 480px);
		width: 960px;
		padding: 100px 0;
		position: relative;
		
		@media #{$mobile_big}{
			height: auto;
			padding: 20px;
		}
		@media #{$mobile_mid}{
			height: auto;
			padding: 20px 15px;
		}
		h3{
			@media #{$mobile_big}{
				font-size: 1.8em;
				line-height: 1em;
			}
			span{
				font-size: 1.5em;
				font-weight: $light;
			}
		}
		.button{
			background: $Azul;
			border-radius: 5px;
			color: $Blanco;
			padding: 10px 15px;
			text-decoration: none;

			@media #{$mobile_big}{
				bottom: auto;
				display: none;
				top: 175px;
				width: calc(100% - 100px);
			}
			&:hover{
				box-shadow: 0 1px 5px #e0e0e0;
				cursor: pointer;
			}
			&#btn-history{
				display: none;

				@media #{$mobile_big}{
					display: block;
				}
			}
		}
		img{
			bottom: 100px;
			max-height: 70%;
			position: absolute;
			right: 0;

			@media #{$mobile_big}{
				display: none;
			}
		}
		.txt-history{
			display: none;
			margin: 100px 0;
			max-width: 760px;
			h3{
				color: $Azul;
				font-size: 1.2em;
			}
			&.visible{
				display: block;
			}
		}
	}
}