#home{
	background-position: center;
	background-size: cover;
	position: relative;
	h1{
		background-image: url(../img/logo.png);
		background-image: url(../img/logo.svg), url(../img/logo.png);
		background-repeat: no-repeat;
		background-size: cover;
		display: inline-block;
		height: 130px;
		left: 70px;
		opacity: 1;
		position: fixed;
		top: 50px;
		width: 90px;
		// -webkit-transition: all 200ms;
		//    -moz-transition: all 200ms;
		//     -ms-transition: all 200ms;
		//      -o-transition: all 200ms;
		     	transition: all 200ms;

		@media #{$mobile_mid}{
			height: 100px;
			left: 15px;
			width: 70px;
		}
		&.hide{
			// -webkit-transform: scale(0.5);
			//    -moz-transform: scale(0.5);
			//     -ms-transform: scale(0.5);
			//      -o-transform: scale(0.5);
			     	transform: scale(0.5);
			opacity: 0;
		}
	}
	h2{
		border: none;
		bottom: 100px;
		color: $Blanco;
		font-size: 2em;
		font-style: italic;
		left: 70px;
		line-height: 0.8em;
		position: absolute;
		text-align: left;
		text-shadow: 0 0 10px #000;

		@media #{$mobile_big}{
			bottom: 80px;
			font-size: 1.4em;
		}
		@media #{$mobile_mid}{
			display: none;
		}
		b{
			font-weight: $regular;
		}
		span{
			color: $Blanco;
			font-size: 1.4em;
			font-weight: $light;
			line-height: 0.8em;
		}
	}
}