footer{
	background: $Oscuro;
	box-sizing: border-box;
	color: $Humo;
	display: block;
	font-size: 0.6em;
	font-weight: $light;
	height: 100px;
	padding: 20px;
	text-align: center;
	width: 100%;

	@media #{$mobile_mid}{
		padding: 20px 15px;
	}
	a{
		border-bottom: 1px dotted $Gris;
		color: $Humo;
		font-size: 1em;
		text-decoration: none;
	}
}