header{
	background: #222;
	display: block;
	height: 40px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	-webkit-transition: all 250ms;
	   -moz-transition: all 250ms;
	    -ms-transition: all 250ms;
	     -o-transition: all 250ms;
	     	transition: all 250ms;
	div.nav{
		display: block;
		height: 100%;
		margin: 0 auto;
		transition: all 200ms;
		width: 450px;
		&.visible{
			background: #222;
			border-top: 1px solid #333;
			display: block;
			height: auto;
			position: absolute;
			top: 40px;
			width: 100%;
		}
		@media #{$mobile_big}{
			position: absolute;
			right: 0;
		}
		@media #{$mobile_mid}{
			display: none;
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;
			li{
				display: inline-block;
				padding: 0 10px;
				text-align: center;
				&:hover, &.active{
					a{
						border-bottom: 3px solid $Blanco;
						color: $Blanco;
					}
				}
				a{
					color: #ccc;
					display: block;
					font-size: 1em;
					font-weight: 300;
					line-height: 35px;
					text-decoration: none;
				}
			}
		}
	}
	a#name{
		text-decoration: none;
		display: inline-block;
		height: 40px;
		left: 60px;
		margin: 0;
		padding: 0;
		position: absolute;

		@media #{$mobile_mid}{
			left: 15px;
		}
		h2{
			border: 0;
			color: $Humo;
			font-size: 18px;
			font-weight: 400;
			left: 0;
			line-height: 40px;
			position: relative;
			top: -15px;
		}
	}
	#menu_mob{
		background-image: url(../img/menu_mob.png);
		background-image: url(../img/menu_mob.svg), url(../img/menu_mob.png);
		background-repeat: no-repeat;
		background-size: cover;
		display: none;
		height: 30px;
		position: absolute;
		right: 15px;
		top: 5px;
		width: 30px;
		&:hover{
			cursor: pointer;
		}

		@media #{$mobile_mid}{
			display: inline-block;
		}
	}
}