#history{
	background: url(../img/history.jpg) no-repeat;
	background-size: cover;
	display: block;
	height: 100%;
	width: 100%;
	#cont-history{
		display: block;
		height: calc(100% - 200px);
		padding: 100px;
		h3{
			span{
				font-size: 1.5em;
				font-weight: $light;
			}
		}
		a{
			background: $Azul;
			border-radius: 5px;
			bottom: 100px;
			color: $Blanco;
			padding: 10px 15px;
			position: absolute;
			text-decoration: none;
			&:hover{
				box-shadow: 0 1px 5px #e0e0e0;
			}
		}
	}
}