@import "normalize-scss/normalize";
@import "variables.scss";
@import "general";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
html, body{
	height: 100%;
}
body{
	background: $Blanco;
	display: block;
	margin: 0;
	overflow-x: hidden;
	padding: 40px 0 0 0;
}
section{
	display: block;
	min-height: 100%;
	position: relative;
	width: 100%;
}
@import "sections/header";
@import "sections/home";
@import "sections/about";
@import "sections/history";
@import "sections/contact";
@import "sections/footer";
